<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            height: 800px;
        }
    </style>
</head>
<body>

标题：<input type="text" id='title' name="title">
<hr/>
<div id="div1" class="toolbar">
</div>
<div style="padding: 5px 0; color: #ccc">中间隔离带</div>
<div id="div2" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
    <p>请输入内容</p>
</div>




<button type="submit" id="btn1" onclick="savePassage()">保存文章</button>


<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
        var editor1 = new E('#div1', '#div2')  // 两个参数也可以传入 elem 对象，class 选择器
    editor1.create()

    document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html
        // alert(editor.txt.html())
        // document.getElementById('mainNav').innerText = editor.txt.html()
    }, false)

    document.getElementById('btn2').addEventListener('click', function () {
        // 读取 text
        alert(editor.txt.text())
    }, false)


    function savePassage() {


        var data = {
            "content": editor1.txt.html(),
            "title": $("input#title").val()
        };
        $.ajax({

            type: 'POST',
            url: '/write/save',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            dataType: 'json',
            success: function (data) {

                if (data['ok'] = true) {
                    alert("保存成功")
                }
                else {
                    alert("保存失败")
                }


            },
            error: function (xhr, type) {

            }
        });


    }

</script>

</body>
</html>

